<div class="page-layout carded left-sidenav single-scroll" id="drivers" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    

    <!-- CENTER -->
    <div class="center" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-email" class="icon"></md-icon>
                </span>
                <span class="logo-text" translate="DRIVERS.TITLE"></span>
            </div>

        </div>
        <!-- / CONTENT HEADER -->
      
        <!-- CONTENT CARD -->
        <div class="content-card">

            
            <!-- CONTENT TOOLBAR -->
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

                <!-- DEMO CONTENT -->
                <div id="driver-grid" dx-data-grid="vm.driverGridOptions"></div>
                <!-- / DEMO CONTENT -->

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>