<div class="page-layout carded left-sidenav single-scroll" id="orders" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDENAV -->
    <md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="sidenav"
     ng-include="'app/main/apps/locations/views/orders/sidenavs/main-sidenav.html'" ms-scroll
                ms-sidenav-helper>

    </md-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center" flex>

      
        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="start center">
                <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('sidenav')" hide-gt-md
                           aria-label="Toggle left sidenav">
                    <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
                </md-button>

                <p>Content toolbar</p>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

                <!-- DEMO CONTENT -->
                <div dx-pivot-grid="pivotGridOptions"></div>
                <!-- / DEMO CONTENT -->

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>